<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{>header}}
<!--  <img src="/img/1.jpg" alt="Home pic">-->
  <form action="">
    <input type="text" placeholder="Enter location">
    <button>Get it!</button>
  </form>
  <div id="location"></div>
  <div id="forecast"></div>
  {{>footer}}
</body>
<script src="/js/script.js"></script>
<script>
  document.querySelector('input').focus();
</script>
</html>